body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffecf2; /* Light pink */
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #ff3366; /* Pink */
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  color: #333; /* Dark grey */
  margin-top: 20px;
}

iframe {
  margin-top: 20px;
}
